:root {
  --primary: #7e34f6;
  --background: #fff;
  --text-primary: #21293c;
  --text-secondary: #4b587c;
  --text-tertiary: #8a8f9c;
  --border: #e5e5e5;
  --button-text-color: #4b587c;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  max-width: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 500px) {
  .container {
    max-width: 100%;
  }
}

.title {
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--text-primary);
  height: auto;
  padding-left: 3rem;
  padding-top: 3rem;
}

.comment-input-container {
  padding: 2rem 3rem 2rem 3rem;
}

.comment-reply-container {
  padding: 1rem 0rem 1rem 0rem;
}

.comment-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
}

input::placeholder {
  color: var(--text-tertiary);
  font-size: 0.7rem;
}

.comment-input-profile-picture {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.comment-input-input {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 2rem;
  border: 1px solid var(--border);
  border-radius: 4px;
  text-indent: 0.5rem;
}

.comment-input-button {
  width: auto;
  background-color: var(--primary);
  color: white;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 0.7rem;
}

.divider-container {
  padding-left: 3rem;
  padding-right: 3rem;
}

.divider {
  width: 100%;
  background-color: var(--border);
  height: 1px;
  border-width: 0px;
}

.comment-list-container {
  padding: 1rem 3rem 1rem 3rem;
}

.reply-list-container {
  padding: 0.5rem 0rem 0rem 0rem;
}

.comment {
  padding: 0.5rem 0rem 0.5rem 0rem;
  display: flex;
  height: auto;
}

.comment-body {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.comment-name {
  color: var(--text-primary);
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1rem;
}

.comment-time {
  color: var(--text-tertiary);
  font-size: 0.6rem;
  font-weight: 400;
}

.comment-body-text {
  color: var(--text-secondary);
  font-size: 0.7rem;
  font-weight: 400;
  padding-top: 0.2rem;
  line-height: 1rem;
}
.comment-profile-picture {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.comment-actions {
  padding-top: 1rem;
  display: flex;
}

.comment-actions-button {
  align-self: flex-start;
  border: none;
  background-color: white;
  color: var(--button-text-color);
  font-size: 0.6rem;
  font-weight: 500;
  width: auto;
  line-height: 0.8rem;
}

.no-comments-yet {
  text-align: center;
  color: var(--text-secondary);
  font-size: 0.7rem;
  font-weight: 300;
  padding: 1rem;
}

.toast {
  font-size: 0.8rem;
  width: 20vw !important;
  padding: 0.2rem !important;
}
