@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-family: "Inter", sans-serif;
}

body {
  background-color: lightgrey;
  color: white;
}
